<% require "json" %>
<% # File.open("#{Rails.public_path}/json/sample.json") do |j| %>
<% File.open("#{Rails.root}/public/json/sample.json") do |j| %>
<% # JSON.load(j) %>
<% $hash = JSON.load(j)%>
<% end %>
<p>
<% $hash.each_with_index do |i, index| %>
<%= index + 1%>：
【名前】<%= i["user_name"] %>さん
【コメント】<%= i["comment"][0..19] %><br>
<% end %>
</p>
